.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: #1e1e2f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Inter', sans-serif; /* Aplica la fuente Inter en caso de tener texto */
}

.scrollToTop:hover {
  background-color: #333;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.scrollToTop img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}
